.git
.gitattributes
.gitignore
.github

node_modules
vendor

.env
.env.*
!.env.example

public/build
public/hot
public/storage

storage/app/**
!storage/app/.gitignore
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**
storage/logs/**
!storage/**/.gitignore

.phpunit.result.cache
.phpunit.cache
tests
phpunit.xml

.claude
.idea
.vscode
.nova
.zed

README.md
docker-compose.yml
docker-compose.override.yml
